html {background-color: lightblue}

.pomodoro-title h1{
    color:  #4c565e;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #6caee0;
    font-weight: bold;
    margin: 1;
}


#pomodoro-container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#pomodoro-clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#pomodoro-timer  {
    font-size: 4rem;
    font-style: normal;
}


#pomodoro-clock-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
}

#pomodoro-clock-actions button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.pomodoro-input {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 10px;
}

.pomodoro-input input {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px;
}